.staffanalysis-container {
  color: #000 !important; 
  margin: 2rem auto;
  margin-left: 260px;
  min-height: 100vh;
  width: 80%;  
  overflow-y: auto;
  height: calc(100vh - 100px); /* Adjust height based on your navbar */
  position: absolute;
  top: 100px;  /* Same height as navbar */
  left: 0px;/* Sidebar width */
  right: 0;
  padding-bottom: 100px; 
  scrollbar-width: none;         /* Firefox */
  -ms-overflow-style: none; 
}
.staffanalysis-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.safftable-wrapper {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

/* Table styles */
.staffanalysis-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  table-layout: fixed;
  word-wrap: break-word;
  overflow: hidden;
}

/* Table headers and cells */
.staffanalysis-table th,
.staffanalysis-table td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

/* Sticky header for the table */
.staffanalysis-table th {
  background-color: #800033;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Hover effect for table rows */
.staffanalysis-table tr:hover {
  background-color: #f1f5f9;
}

@media (max-width: 768px) {
  .analysis-container,
  .staffanalysis-container {
    margin-left: 0;
    width: 100%;
    padding: 10px;
    top: 140px;
  }

  .analysis-table th,
  .analysis-table td,
  .staffanalysis-table th,
  .staffanalysis-table td {
    font-size: 12px;
    padding: 8px;
  }
}