/* Reset default body margin/padding */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}